<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTC</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>

<h2 th:text="'BTC List'">BTC List</h2>
<div class="row justify-content-center">
    <div class="col-sm-9">
        <table class="table center table-striped" style="width: 70%" id="btc">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="btc: ${btcList}">
                <td th:text="${btc?.id}">idHolder</td>
                <td th:text="${btc?.datetime}">dateTimeHolder</td>
                <td th:text="${btc?.amount}">AmountHolder</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>